*.log
*.o
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
skeleton
skeleton_unweighted
*.aux
*.out
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls 
*.run.xml
*.toc
*.synctex.gz
EinbettungsCode/*.eps
main
.vscode/
EinbettungsCode/results.txt
